:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: "#0f131a";
  --primary-text: "#a4a6a8";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: var(--background);
}
